.teclado-component {
  height: 75%;
  border-color: black;
}

.component-button {
  color: white;
  display: inline-flex;
  width: 25%;
  height: 16%;
  flex: 1 0 auto;
  font-size: 6vh;
  border-color: black;
}

.component-button button {
  background-color: #e0e0e0;
  border: 1px;
  border-color: #000;
  font-size: 1.5rem;
  margin: 1px 1px 1px 1px;
  flex: 1 0 auto;
  padding: 0;
}

.component-button.wide{
  width: 100%;
}

.component-button.orange button{
  background-color: #f5923e;
  color: white;
  border-color: black;
}

.component-button.gray button{
  background-color: #5d5e5e;
  color: white;
  border-color: black;
}

.component-button.black button{
  background-color: #434343;
  color: white;
  border-color: black;
}

.component-button:focus {
  outline: 0px;
}

.component-button:active {
  opacity: 0.5;
}

.calculadora {
  min-width: 300px;
  width: 30%;
  margin-left: 35%;
  margin-top: 7.5%;
  height: 100vh;
  display: block;
}

.display-component {
  height: 10%;
  background-color: #323232;
  font-size: 5vh;
  color: white;
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;
}